.about-ves{
    &__content{
        width: 100%;
        background: url(../images/roto.png);
        background-position: top;
        background-repeat: no-repeat;
        padding: 1rem;
        margin: 4rem auto 0;
        position: relative;
        @include respond-to('mobile') {
            padding: 1.5rem;
        }
        @include respond-to('small') {
            padding: 2rem;
        }
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('../images/bg-about.png');
            background-position: bottom;
            background-size: cover;
            top: 35px;
            left: 0;
            z-index: -1;
        }
        &-image{
            max-width: 180px;
            position: relative;
            margin: 0 auto;
            z-index: 2;
            
            @include respond-to('mobile') {
              max-width: 200px;
              float: right;
              margin: 2rem 0 2rem 2rem;
            }
            @include respond-to('medium') {
              max-width: 300px;
            }
            @media screen and (min-width: 1120px){
              max-width: 400px;
            }
            &:before{
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: transparent;
              transform-origin: center;
              border: 3px solid $yellow;
              transform: rotate(5deg) scale(1);
              z-index: 2;
              border-radius: 50%;
              pointer-events: none;
              bottom: 15px;
              left: 15px;
            }
            img{
              width: 100%;
              height: auto;
              display: block;
              border-radius: 50%;
            }
          }
    }
    &__inner{
        margin-top: 6rem;
        h2{
            font-size: $h2-expectations-es;
            font-family: $font__titles;
            margin-bottom: 2rem;
            text-align: center !important;
            @include respond-to('mobile') {
                font-size: $h2-expectations-sm;
            }
            @include respond-to('medium') {
                font-size: $h2-expectations;
                text-align: left !important;
            }
            span{
                color: $gray;
                font-family: $font__main;
                display: block;
                font-size: 2rem;
                font-size: $h2-expectations-es - 1rem;
                @include respond-to('mobile') {
                    font-size: $h2-expectations-sm - 1rem;
                }
                @include respond-to('medium') {
                    font-size: $h2-expectations - 1rem;
                }
            }
        }
        p{
            color: $gray;
            font-size: $list-expectations-es;
            text-align: left;
            margin: 1rem 0;
            @include respond-to('mobile') {
                font-size: $list-expectations;
            }
        }
    }
    &__list{
        position: relative;
        margin: 0;
        padding: 0;
        &--item{
            margin: 1rem 0;
            text-align: left;
            position: relative;
            padding-left: 1.5rem;
            color: $gray;
            font-size: $list-expectations-es;
            font-family: $font__main;
            @include respond-to('mobile') {
                font-size: $list-expectations;
                padding-left: 2rem;
                margin: 2rem 0;
            }
            &:nth-child(6n+1){
                svg{
                    fill: $rose-dark;
                }          
            }
            &:nth-child(6n+2){
                svg{
                    fill: $purple;
                }          
            }
            &:nth-child(6n+3){
                svg{
                    fill: $green;
                }
            }
            &:nth-child(6n+4){
                svg{
                    fill: $yellow;
                }       
            }
            &:nth-child(6n+5){
                svg{
                    fill: $blue;
                }       
            }
            &:nth-child(6n+6){
                svg{
                    fill: $welcome-color-rose;
                }        
            }
            svg{
                position: absolute;
                width: 18px;
                height: 18px;
                top: 3px;
                left: 0;
                @include respond-to('mobile') {
                    width: 22px;
                    height: 22px;
                }
                &.bg-rose{
                    fill: $orange;
                }
                &.bg-purple{
                    fill: $purple;
                }
                &.bg-green{
                    fill: $green;
                }
                &.bg-yellow{
                    fill: $yellow;
                }
                &.bg-blue{
                    fill: $blue;
                }
                &.bg-orange{
                    fill: $welcome-color-rose;
                }
            }
        }
    }
}

.our-programs-ves{
    h2{
        font-size: $h1-welcome-es;
        font-family: $font__titles;
        margin: 1rem 0;
        padding: $padding-desktop;
        text-align: center !important;
        @include respond-to('mobile') {
        font-size: $h1-welcome-sm;
        margin: 2rem 0;
        }
        @include respond-to('medium') {
        font-size: $h1-welcome;
        margin: 3rem 0;
        text-align: left !important;
        }
    }
    &__title{
        width: 100%;
        position: relative;
    }
    &__content{
        padding: 0 1rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @include respond-to('small') {
            padding: 0 1.5rem;
        }
    }
    &__program{
            width: 50%;
            padding: 1rem;
            position: relative;
            display: block;
            // max-width: 300px;
            margin: 1rem auto;
            z-index: 2;
            @include respond-to('small') {
                width: 33.3333%;
                padding: 2rem;
            }
            @include respond-to('medium') {
                width: 25%;
                padding: 1.5rem;
            }    
            img{
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                z-index: 2;
            }
            &--image{
                position: relative;
                margin: 0 auto;
                max-width: 300px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 75%;  
                    bottom: -5px;
                        right: -5px;
                        @include respond-to('mobile') {
                            bottom: -10px;
                            right: -10px;
                        }
                        @include respond-to('small') {
                            bottom: -20px;
                            right: -20px;
                        }
                }
                &.pre-kinder{
                    &::before{
                        background-color: $pre-kinder;
                    }
                }
                &.elementary-school{
                    &::before{
                        background-color: $elementary-school;
                    }
                }
                &.middle-school{
                    &::before{
                        background-color: $middle-school;
                    }
                }
                &.parent-me{
                    &::before{
                        background-color: $parent-me;
                    }
                }
                &.events{
                    &::before{
                        background-color: $events;
                    }
                }
                &.camps{
                    &::before{
                        background-color: $camps;
                    }
                }
                &.private-tutoring{
                    &::before{
                        background-color: $private-tutoring;
                    }
                }
                &.bg-yellow{
                    &::before{
                        background-color: $yellow;
                    }
                }
                &.bg-rose-dark{
                    &::before{
                        background-color: $rose-dark;
                    }
                }
                &.bg-blue{
                    &::before{
                        background-color: $blue;
                    }
                }
                &.bg-green{
                    &::before{
                        background-color: $green;
                    }
                }
                &.bg-purple{
                    &::before{
                        background-color: $purple;
                    }
                }
                &.bg-orange{
                    &::before{
                        background-color: $orange;
                    }
                }
                
            }
            &--text{
                margin-top: 1rem;
                @include respond-to('small') {
                    margin-top: 2rem;
                }
                @include respond-to('medium') {
                    margin-top: 3rem;
                }
                h3{
                    font-family: $font__subtitles;
                    font-size: 1rem;
                    @include respond-to('mobile') {
                        font-size: 1.2rem;
                    }
                    @include respond-to('small') {
                        font-size: 1.5rem;
                    }
                }
            }
    }
    &__carousel{
        overflow: hidden;
        .slick-prev, .slick-next{
            height: auto;
            top: 40px;
            @include respond-to('small') {
                top: 50px;
            }
            &::before{
                color: $yellow;
            }
        }
        &--item{
            position: relative;
            margin: 0;
            padding: 0;
            &.pre-kinder{
                .our-programs-ves__carousel--title{
                    h3{
                        &::before{
                            background: $pre-kinder;
                        }
                        &::after{
                            background: rgba($pre-kinder,0.5);
                        }
                    }
                }
                .our-programs-ves__carousel--download{
                    .our-programs-ves__carousel--download--col{
                        .our-programs-ves__carousel--download--image{
                            &::before{
                                background-color: rgba($pre-kinder, 0.5);
                            }
                        }
                    }
                }
            }
            &.elementary-school{
                .our-programs-ves__carousel--title{
                    h3{
                        &::before{
                            background: $elementary-school;
                        }
                        &::after{
                            background: rgba($elementary-school,0.5);
                        }
                    }
                }
                .our-programs-ves__carousel--download{
                    .our-programs-ves__carousel--download--col{
                        .our-programs-ves__carousel--download--image{
                            &::before{
                                background-color: rgba($elementary-school, 0.5);
                            }
                        }
                    }
                }
            }
            &.middle-school{
                .our-programs-ves__carousel--title{
                    h3{
                        &::before{
                            background: $middle-school;
                        }
                        &::after{
                            background: rgba($middle-school,0.5);
                        }
                    }
                }
                .our-programs-ves__carousel--download{
                    .our-programs-ves__carousel--download--col{
                        .our-programs-ves__carousel--download--image{
                            &::before{
                                background-color: rgba($middle-school, 0.5);
                            }
                        }
                    }
                }
            }
            &.events{
                .our-programs-ves__carousel--title{
                    h3{
                        &::before{
                            background: $events;
                        }
                        &::after{
                            background: rgba($events,0.5);
                        }
                    }
                }
                .our-programs-ves__carousel--download{
                    .our-programs-ves__carousel--download--col{
                        .our-programs-ves__carousel--download--image{
                            &::before{
                                background-color: rgba($events, 0.5);
                            }
                        }
                    }
                }
            }
            &.camps{
                .our-programs-ves__carousel--title{
                    h3{
                        &::before{
                            background: $camps;
                        }
                        &::after{
                            background: rgba($camps,0.5);
                        }
                    }
                }
                .our-programs-ves__carousel--download{
                    .our-programs-ves__carousel--download--col{
                        .our-programs-ves__carousel--download--image{
                            &::before{
                                background-color: rgba($camps, 0.5);
                            }
                        }
                    }
                }
            }
            &.parent-me{
                .our-programs-ves__carousel--title{
                    h3{
                        &::before{
                            background: $parent-me;
                        }
                        &::after{
                            background: rgba($parent-me,0.5);
                        }
                    }
                }
                .our-programs-ves__carousel--download{
                    .our-programs-ves__carousel--download--col{
                        .our-programs-ves__carousel--download--image{
                            &::before{
                                background-color: rgba($parent-me, 0.5);
                            }
                        }
                    }
                }
            }
            &.private-tutoring{
                .our-programs-ves__carousel--title{
                    h3{
                        &::before{
                            background: $private-tutoring;
                        }
                        &::after{
                            background: rgba($private-tutoring,0.5);
                        }
                    }
                }
                .our-programs-ves__carousel--download{
                    .our-programs-ves__carousel--download--col{
                        .our-programs-ves__carousel--download--image{
                            &::before{
                                background-color: rgba($private-tutoring, 0.5);
                            }
                        }
                    }
                }
            }
        }
        &--title{
            max-width: 75%;
            margin: 0 auto;
            display: block;
            position: relative;
            h3{
                display: table;
                position: relative;
                padding: 1rem;
                color: #fff;
                font-weight: bold;
                font-size: 1rem;
                z-index: 2;
                margin: 0 auto;
                font-family: $font__subtitles;
                @include respond-to('mobile') {
                    font-size: 2rem;
                    margin-bottom: 4rem;
                }
                @include respond-to('medium') {
                    font-size: 3rem;
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 5px;
                    left: 5px;
                    background: rgba($yellow,0.5);
                    z-index: -2;
                    @include respond-to('mobile') {
                        top: 15px;
                        left: 15px;
                    }
                }
                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    background: $yellow;
                    z-index: -1;
                    top: 0;
                    left: 0;
                }
            }
        }
        &--location{
            padding: 1rem;
            @include respond-to('medium') {
                padding: 1rem 0;
            }
            p{
                line-height: 1.2;
                margin: 1rem 0;
                font-size: $list-expectations-es;
                font-family: $font__main;
                text-align: center;
                @include respond-to('mobile') {
                    font-size: $list-expectations;
                    line-height: 1.5;
                    margin: 2rem 0;
                    text-align: left;
                }
            }
        }
        &--download{
            display: flex;
            width: 100%;
            margin: 1rem 0;
            padding: 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            &--col{
                width: 100%;
                padding: 0 1rem;
                position: relative;
                display: flex;
                align-items: center;
                @include respond-to('medium') {
                    width: 50%;
                }
            }
            &--image{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: 0 0;
                    background-color: $yellow;
                    z-index: -1;
                    pointer-events: none;
                    bottom: -15px;
                    left: -15px;
                }
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            &--text{
                padding: 0;
                margin-top: 2rem;
                width: 100%;
                @include respond-to('medium') {
                    margin-top: 0;
                    padding: 1rem;
                }
                &:before{
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $green;
                    display: block;
                    position: absolute;    
                    top: inherit;
                    left: 0; 
                    @include respond-to('medium') {
                        width: 3px;
                        top: 0;
                        height: 100%;

                    }
                }
                p{
                    margin: 1rem 0;
                    font-size: $list-expectations-es - 0.2;
                    font-family: $font__main;
                    text-align: center;
                    @include respond-to('mobile') {
                        font-size: $list-expectations;
                        line-height: 1.5;
                        margin: 2rem 0;
                        text-align: left;
                    }
                }

                .more-info, a{
                    display: table;
                    margin: 0 auto;
                    padding: 1rem;
                    text-align: center;
                    border: 3px solid $yellow;
                    color: $green;
                    font-family: $font__subtitles;
                    text-transform: uppercase;
                    font-size: 1rem;
                    span{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__cta{
        position: relative;
        margin: 3rem 0;
        a{
            display: table;
            margin: 0 auto;
            padding: 1rem;
            text-align: center;
            border: 3px solid $yellow;
            color: $green;
            font-family: $font__subtitles;
            text-transform: uppercase;
            span{
                text-decoration: underline;
            }
        }
    }
}