b, strong{
  font-weight: $font-bold;
}

sup{
  vertical-align: super;
  font-size: 0.8em;
}

::selection {
  background-color: $green;
  color: #fff;
}

::-moz-selection {
  background-color: $green;
  color: #fff;
}

body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: $font__main;
  font-weight: normal;
  line-height: 1.2;
  @include respond-to('small') {
    font-size: 16px;
  }
  #block-page {
    z-index: 998;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all .5s ease 0s;
    cursor: pointer;
  }
}


.main-section{
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: $padding-mobile;
  @include respond-to('small') {
    padding: $padding-desktop;
  }
}

.main-section-nopadding{
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
}
