.camps-ves{
    &__intro{
        width: 100%;
        height: auto;
        display: block;
        background-image: url('../images/bg-gallery.jpg');
        background-size: cover;
        background-position: center;
        padding: 0 1rem 2rem 1rem;
        @include respond-to('small') {
            padding: 0 0 2rem 0;
        }
        &--content{
            max-width: 1280px;
            margin: 0 auto;
            display: block;
            padding: 2rem 0;
            @include respond-to('small') {
                padding: 3rem 1rem;
            }
        }
        &--bg{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            flex-flow: column;
            @include respond-to('small') {
                flex-flow: row;
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 80%;
                background: $purple;
                right: 0;
                bottom: 0;
                z-index: 0;
                @include respond-to('small') {
                    width: 90%;
                    height: 90%;
                    top: 5%;
                    right: 0;
                    bottom: inherit;
                }
            }
            img{
                max-width: 150px;
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                z-index: 2;
                @include respond-to('small') {
                    max-width: 200px;
                }
            }
            p{
                padding: 1rem;
                color: $white;
                font-size: $list-expectations-es;
                font-family: $font__main;
                z-index: 2;
                line-height: 1.2;
                text-align: center;
                @include respond-to('mobile') {
                    font-size: $list-expectations;
                    line-height: 1.5;
                }
            }
        }
    }
    &__container{
        width: 100%;
        background: url(../images/roto.png);
        background-position: top;
        background-repeat: no-repeat;
        padding: 1rem;
        margin: 0.5rem auto 0;
        position: relative;
        @include respond-to('mobile') {
            padding: 2rem;
        }
        @include respond-to('small') {
            padding: 3rem;
        }
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('../images/bg-about.png');
            background-position: bottom;
            background-size: cover;
            top: 35px;
            left: 0;
            z-index: -1;
        }
        h2{
            font-size: $h2-expectations-es;
            text-align: left;
            line-height: 1.5;
            font-family: $font__subtitles;
            margin: 3rem 0 2rem;
            color: $purple;
            @include respond-to('extra-small') {
                font-size: $h2-expectations-sm;
            }
            @include respond-to('medium') {
                font-size: $h2-expectations;
            }
        }

        h3{
            font-size: $subtext-font-size-es - 3;
            text-align: left;
            line-height: 1.5;
            font-family: $font__subtitles;
            margin: 3rem 0 2rem;
            color: $purple;
            @include respond-to('extra-small') {
                font-size: $subtext-font-size-sm  - 4;
            }
            @include respond-to('medium') {
                font-size: $subtext-font-size  - 5;
            }
        }
        h5{
            font-size: $text-font-size-es;
            text-align: left;
            line-height: 1.75;
            font-family: $font__main;
            margin: 0.5rem auto;
            color: $gray;
            font-size: 14px;
            background-color: #eb6c6f;
            padding: 1rem;
            display: table;
            color: #fff;
            @include respond-to('mobile') {
                font-size: $list-expectations;
            }
        }
        h6{
            font-size: $text-font-size-es;
            text-align: left;
            line-height: 1.75;
            font-family: $font__main;
            margin: 0.5rem auto;
            color: $gray;
            font-size: 14px;
            background-color: $yellow;
            padding: 1rem;
            display: table;
            color: #fff;
            @include respond-to('mobile') {
                font-size: $list-expectations;
            }
        }

        p{
            font-size: 14px;
            text-align: left;
            line-height: 1.75;
            font-family: $font__main;
            margin: 0.5rem 0;
            color: $gray;
            font-size: 14px;
            @include respond-to('mobile') {
                font-size: $list-expectations;
            }
            // a{
            //     padding: 0;
            //     margin: 0;
            //     background-color: transparent;
            // }
        }
        a{
            color: #fff;
            background-color: $purple;
            padding: 1rem;
            margin: 1rem 0.5rem;
            border-radius: 6px;
            display: inline-block;
        }
        ul{
            position: relative;
            margin: 0;
            padding: 0;
            li{
                margin: 1rem 0;
                text-align: left;
                position: relative;
                padding-left: 1.5rem;
                color: $gray;
                font-size: 14px;
                font-family: $font__main;
                @include respond-to('mobile') {
                    font-size: $list-expectations;
                    padding-left: 2rem;
                    margin: 2rem 0;
                }
                &:nth-child(6n+1){
                    svg{
                        fill: $rose-dark;
                    }          
                }
                &:nth-child(6n+2){
                    svg{
                        fill: $purple;
                    }          
                }
                &:nth-child(6n+3){
                    svg{
                        fill: $green;
                    }
                }
                &:nth-child(6n+4){
                    svg{
                        fill: $yellow;
                    }       
                }
                &:nth-child(6n+5){
                    svg{
                        fill: $blue;
                    }       
                }
                &:nth-child(6n+6){
                    svg{
                        fill: $welcome-color-rose;
                    }        
                }
                svg{
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    top: 3px;
                    left: 0;
                    @include respond-to('mobile') {
                        width: 22px;
                        height: 22px;
                    }
                    &.bg-rose{
                        fill: $orange;
                    }
                    &.bg-purple{
                        fill: $purple;
                    }
                    &.bg-green{
                        fill: $green;
                    }
                    &.bg-yellow{
                        fill: $yellow;
                    }
                    &.bg-blue{
                        fill: $blue;
                    }
                    &.bg-orange{
                        fill: $welcome-color-rose;
                    }
                }
            }
        }
        img{
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0.5rem auto;
            @include respond-to('small') {
                margin: 0.5rem 0;
            }
            &.aligncenter{
                display: block; margin-left: auto; margin-right: auto; 
            }
            &.alignright{
                
                @include respond-to('small') {
                    float: right;
                    margin-left: 1rem;
                }
            }
            &.alignleft { 
                @include respond-to('small') {
                    float: left;
                    margin-right: 1rem; 
                }
            }
        }
    }
}