.expectations-ves{
    margin-top: 5rem;
    &__content{
        width: 100%;
        background: url('../images/roto.png');
        background-position: top;
        background-repeat: no-repeat;
        padding: 1rem;
        margin: 4rem auto 0;
        position: relative;
        @include respond-to('mobile') {
            padding: 1.5rem;
        }
        @include respond-to('small') {
            padding: 2rem;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($green, 0.10);
            top: 35px;
            left: 0;
            z-index: -1;
        }
    }
    &__inner{
        margin-top: 4rem;
        h2{
            font-size: $h2-expectations-es;
            font-family: $font__titles;
            margin-bottom: 2rem;
            @include respond-to('mobile') {
                font-size: $h2-expectations-sm;
            }
            @include respond-to('medium') {
                font-size: $h2-expectations;
            }
            br{
                @media screen and (max-width: 1120px){
                    display: none;
                }
            }
        }
    }
    &__list{
        position: relative;
        margin: 0;
        padding: 0;
        &--item{
            margin: 1rem 0;
            text-align: left;
            position: relative;
            padding-left: 1.5rem;
            color: $green;
            font-size: $list-expectations-es;
            @include respond-to('mobile') {
                font-size: $list-expectations;
                padding-left: 2rem;
            }
            svg{
                position: absolute;
                width: 18px;
                height: 18px;
                top: 3px;
                left: 0;
                @include respond-to('mobile') {
                    width: 22px;
                    height: 22px;
                }
                &.bg-rose{
                    fill: $rose-dark;
                }
                &.bg-purple{
                    fill: $purple;
                }
                &.bg-green{
                    fill: $green;
                }
                &.bg-yellow{
                    fill: $yellow;
                }
                &.bg-blue{
                    fill: $blue;
                }
                &.bg-orange{
                    fill: $welcome-color-rose;
                }
            }
        }
    }
    &__fun{
        margin-top: 2rem;
        span{
            margin: 0 auto;
            display: block;
            font-size: $h2-expectations-es;
            font-family: $font__subtitles;
            @include respond-to('mobile') {
                font-size: $h2-expectations-sm;
            }
            @include respond-to('medium') {
                font-size: $h2-expectations;
            }
        }
        p{
            font-size: $list-expectations-es;
            margin: 1rem 0;
            @include respond-to('mobile') {
                font-size: $list-expectations;
            }
        }
    }
    &__divition{
        margin: 5rem 0 0;
        @include respond-to('mobile') {
            font-size: $h1-welcome-sm;
            margin: 3rem 0 0 1rem;
            }
            @include respond-to('medium') {
                margin: 5rem 0;
            }
        img{
            max-width: 100%;
            display: block;
            height: auto;
        }
    }
}