.backto-top{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;
  border-radius: 50%;
  background: $yellow;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 99;
  i{
    font-size: 1.2rem;
    color: $purple;
  }
}
footer{
  background: $footer-color;
  padding: $padding-mobile;
  @include respond-to('extra-small') {
    padding: $padding-desktop;
  }
  .textwidget{
    div{
      color: $white;
      font-size: $p-footer-mb;
      @include respond-to('extra-small-max') {
        text-align: center !important;
      }
      @include respond-to('extra-small') {
        text-align: left;
        font-size: $p-footer-sm;
      }
      @include respond-to('medium') {
        font-size: $p-footer-mb;
      }
      a{
        color: $white;
        @include transition(all 0.5s ease 0s);
        &:hover{
          color: $green-dark;
          text-decoration: underline;
        }
      }
    }
    p{
      color: $white;
      font-size: $p-footer-mb;
      @include respond-to('extra-small-max') {
        text-align: center !important;
      }
      @include respond-to('extra-small') {
        text-align: right;
        font-size: $p-footer-sm;
      }
      @include respond-to('medium') {
        font-size: $p-footer-mb;
      }
      a{
        color: $white;
        @include transition(all 0.5s ease 0s);
        &:hover{
          color: $green-dark;
          text-decoration: underline;
        }
      }
    }
  }
  .footer{
    &-row{
      @include respond-to('extra-small') {
        margin-bottom: 2rem;
      }
    }
    &-item{
      @include respond-to('extra-small-max') {
        margin-bottom: 1rem;
      }
    }
    &-title{
      color: $white;
      font-size: $h3-footer-mb;
      font-weight: $font-bold;
      @include respond-to('extra-small-max') {
        text-align: center !important;
      }
      @include respond-to('extra-small') {
        font-size: $h3-footer-sm;
      }
      @include respond-to('medium') {
        font-size: $h3-footer;
      }
    }
    &-text{
      color: $white;
      font-size: $p-footer-mb;
      @include respond-to('extra-small-max') {
        text-align: center !important;
      }
      @include respond-to('extra-small') {
        text-align: right;
        font-size: $p-footer-sm;
      }
      @include respond-to('medium') {
        font-size: $p-footer-mb;
      }
      a{
        color: $white;
        @include transition(all 0.5s ease 0s);
        &:hover{
          color: $green-dark;
          text-decoration: underline;
        }
      }
    }
    &-newsletter{
      margin-top: 1rem;
      position: relative;
      padding: 0;
      text-align: center;
      @include respond-to('small') {
        text-align: left;
      }
      .form-message{
        font-weight: $font__subtitles;
        color: $white;
        margin-bottom: 0.5rem;
      }
      input{
        background: rgba($white, 0.5);
        padding: 0.5rem;
        text-align: left;
        color: $black;
        position: relative;
        width: 100%;
        border: none;
        margin-bottom: 1rem;
      }
      button{
        @include respond-to('extra-small-max') {
          margin: 0 auto;
          display: block;
        }
      }
    }
    &-list{
      &__awards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        li{
          margin: 0.5rem 0.5rem;
          position: relative;
          &:last-child{
            img{
              max-width: 63px;
              @include respond-to('extra-small') {
                max-width: 100px;
              }
            }
          }
          img{
            max-width: 50px;
            height: auto;
            display: block;
            @include respond-to('extra-small') {
              max-width: 80px;
            }
          }
        }
      }
      &__rrss{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        @include respond-to('extra-small') {
          justify-content: flex-end;
        }
        li{
          margin: 0 0.5rem;
          position: relative;
          a{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            @include respond-to('medium') {
              width: 50px;
              height: 50px;
            }
            display: block;
            position: relative;
            @include transition(all 0.5s ease 0s);
            &:after{
              color: #fff;
              font-size: 1.5rem;
              text-align: center;
              position: relative;
              display: block;
              line-height: 40px;
              @include transition(all 0.5s ease 0s);
              @include respond-to('medium') {
                line-height: 50px;
              }
            }
            &.facebook-footer{
              background-color: $facebook-rrss;
              &:after{
                font-family: "Font Awesome 5 Brands";
                font-weight: 900;
                content: "\f39e";
              }
              @include respond-to('small') {
                &:hover{
                  background-color: $white;
                  &:after{
                    color: $facebook-rrss;
                  }
                }
              }
            }
            &.instagram-footer{
              background-color: $instagram-rrss;
              &:after{
                font-family: "Font Awesome 5 Brands";
                font-weight: 900;
                content: "\f16d";
              }
              @include respond-to('small') {
                &:hover{
                  background-color: $white;
                  &:after{
                    color: $instagram-rrss;
                  }
                }
              }
            }
            &.yelp-footer{
              background-color: $yelp-rrss;
              &:after{
                font-family: "Font Awesome 5 Brands";
                font-weight: 900;
                content: "\f1e9";
              }
              @include respond-to('small') {
                &:hover{
                  background-color: $white;
                  &:after{
                    color: $yelp-rrss;
                  }
                }
              }
            }
            &.youtube-footer{
              background-color: $youtube-rrss;
              &:after{
                font-family: "Font Awesome 5 Brands";
                font-weight: 900;
                content: "\f167";
              }
              @include respond-to('small') {
                &:hover{
                  background-color: $white;
                  &:after{
                    color: $youtube-rrss;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .site-logo{
      @include respond-to('extra-small-max') {
        margin: 0 auto;
        display: block;
        width: 150px;
    }
    img{
      max-width: 200px;
      height: auto;
      display: block;
    }
  }
}
