.gallery-ves{
    &__content{
        width: 100%;
        margin: -2rem auto 0;
        position: relative;
    }
    &__title{
        background: url('../images/bg-gallery.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond-to('extra-small') {
            height: 300px;
        }
        h2{
            font-size: $h1-welcome-es;
            font-family: $font__titles;
            margin: 1rem auto;
            padding: $padding-desktop;
            @include respond-to('mobile') {
            font-size: $h1-welcome-sm;
            margin: 2rem auto;
            }
            @include respond-to('medium') {
            font-size: $h1-welcome;
            margin: 3rem auto;
            }
        }
    }
    &__wrapper{
        position: relative;
        margin: 5rem 0;
        @include respond-to('medium') {
            margin: 10rem 0;
        }
        &:after{
            content: '';
            position: absolute;
            width: 98%;
            height: 120%;
            top: -10%;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 6px;
            border: 7px solid $green;
            background: transparent;
            pointer-events: none;
            z-index: 2;
            @include respond-to('medium') {
                width: 95%;
                border: 10px solid $green;
            }
        }
    }
    &__carousel{
        overflow: hidden;
        &--item{
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .slick-prev, .slick-next{
            background: transparent;
            font-size: 2rem;
            width: 20px;
            @include respond-to('medium') {
                width: 70px;
            }
            &::before{
                color: $white;
                font-size: 2rem;
                @include respond-to('medium') {
                    font-size: 4rem;
                }
            }
            
        }
        .slick-prev{
                left: 20px;
            @include respond-to('medium') {
                left: 50px;
            }
        }
        .slick-next{
                right: 20px;
            @include respond-to('medium') {
                right: 50px;
            }
        }
    }
}