header{
  padding: $padding-desktop;
  position: relative;
  display: block;
  z-index: 3;
}

.site{
  &-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__left{
      margin-right: $padding-right-desktop;
      position: relative;
      display: block;
      width: 200px;
      a{
        display: block;
        img{
          max-width: 200px;
          height: auto;
          display: block;
          width: 100%;
        }
      }
    }
    &__right{
      .nav-toggle{
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        padding: 0;
        border: none;
        background: transparent;
        z-index: 4;
        @include respond-to('small') {
          display: none;
        }
        &:before, &:after{
          content: '';
          display: block;
          position: absolute;
          left: 0;
          height: 3px;
          width: 100%;
          background: $hamburguer-menu;
          border-radius: 10px;
          @include transition(all 0.5s ease 0s);
        }
        &:before{
          top: 0;
        }
        &:after{
          top: 27px;
        }
        &__icon{
          position: relative;
          width: 100%;
          height: 3px;
          background: $hamburguer-menu;
          display: block;
          top: 0;
          border-radius: 10px;
          @include transition(all 0.5s ease 0s);
        }
        &.open{
          &::before{
            top: 13px;
            transform: rotate(45deg);
          }
          &::after{
            top: 13px;
            transform: rotate(-45deg);
          }
          .nav-toggle__icon{
            opacity: 0;
            transform: translateX(-15px);
          }
        }
      }
    }
  }
  &-menu{
    display: block;
    @include respond-to('small-max') {
      position: fixed;
      width: 250px;
      height: 100%;
      z-index: 2;
      background: $white;
      right: -260px;
      top: 0;
      padding: 110px 1rem;
      @include box-shadow(1px, 3px, 10px, rgba($black, 0.5));
      z-index: 3;
    }
    @include respond-to('small') {
      display: block;;
    }
    &__nav{
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }
    &__item{
      margin: 0 0.5rem;
      position: relative;
      @include respond-to('small-max') {
        width: 100%;
      }
      &.has-submenu{
        > .site-menu__link[href="#"]{
          ~ .site-menu__dropdown{
              display: none;
            @include respond-to('small') {
              display: block;;
            }
          }
          @include respond-to('small-max') {
            &::after{
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f0d7";
              float: right;
              font-size: 1.4rem;
              line-height: 0.7;
              @include transition(all 0.5s ease 0s);
            }
          }
          &.open{
            &::after{
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    &__link{
      font-weight: $font-regular;
      color: $green;
      padding: 0.5rem;
      letter-spacing: 1px;
      position: relative;
      display: block;
      font-size: 1rem;
      border-bottom: 3px solid transparent;
      @include transition(0.5s ease 0s);
      &.current{
        background: #fae8d2;
        border-bottom: 3px solid $orange;
        color: $green;
      }
      @include respond-to('small') {
        &:hover{
          background: #fae8d2;
          border-bottom: 3px solid $orange;
          color: $green;
          ~ .site-menu__dropdown{
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }
      }
    }
    &__dropdown{
      position: relative;
      z-index: 2;
      width: 100%;    
      display: block;
      padding-left: 15px;
      @include respond-to('small') {
        padding-left: 0;
        display: block;
        position: absolute;
        opacity: 0;
        visibility: visible;
        pointer-events: none;
        top: 38px;
        background: $white;
      left: 0;
        &:hover{
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }
      .site-menu__link{
        text-align: left;
        @include respond-to('small') {
          text-align: center;
        }
        
      }
    }

  }
}
