.person-ves{
    &__disclaimer{
        p{
            font-size: $text-font-size-es;
            text-align: left;
            line-height: 1.75;
            font-family: $font__main;
            margin: 0.5rem 0;
            color: $black;
            font-size: 14px;
        }
    }
    &__content{
        margin: 0;
        width: 100%;
        position: relative;
    }
    &__selection{
        padding: 2rem 2rem 2rem;
        background-color: $white-soft;
        p{
            margin-bottom: 2rem;
            padding-top: 2rem;
            font-size: 2rem;
            @include respond-to('small') {
                padding-top: 0;
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
            position: relative;
            li{
                padding: 0;
                width: 100%;
                position: relative;
                margin: 0.5rem 0;
                @include respond-to('extra-small') {
                    width: 50%;
                    margin: 1rem 0;
                    padding: 0 1rem;
                }
                @include respond-to('medium') {
                    width: 25%;
                    margin: 0;
                }
                .custom-select, a{
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    position: relative;
                    text-align: center;
                    max-width: 300px;
                }
                .select-items{
                    div, a{
                        background-color: rgba($purple, 0.8);
                    }
                }
                .select-selected, a{
                    border-radius: 6px;
                    color: $white;
                    text-transform: uppercase;   
                    background-color: $purple;
                    &::after{
                        background-color: $green;
                        color: $yellow;
                        padding: 0.1rem;
                        top: 6px;
                        right: 10px;
                    }
                }
                a{
                    padding: .65rem;
                    font-family: $font__main;
                }
            }
        }
    }
    &__intro{
        width: 100%;
        background-color: $yellow;
        padding: 2rem;
        @include respond-to('small') {
            padding: 3rem 2rem;
        }
        h1{
            font-size: $list-expectations-es + 0.2;
            text-align: center;
            margin: 0 0 0.5rem 0;
            @include respond-to('mobile') {
                font-size: $list-expectations + 0.2;
            }
        }
        p{
            font-size: $list-expectations-es;
            font-family: $font__main;
            @include respond-to('mobile') {
                font-size: $list-expectations;
            }
        }
    }
    &__cta{
        width: 100%;
        position: relative;
        padding: 2rem 2rem 0;
        background-color: $white-soft;
        @include respond-to('extra-small') {
            padding: 3rem 2rem 0;
        }
        @include respond-to('medium') {
            padding: 4rem 2rem 0;
        }
        a{  
            @include respond-to('small') {
                margin-top: -95px !important;
            }         
        }
    }
    &__table{
        table{ 
            thead{
                tr{
                    th{
                        text-align: center;
                        padding: 15px 5px;
                    }
                }
            }
        }
        &--lafayette{
            thead{
                tr{
                    th{
                        background-color: #ff5f6b;
                        color: $white;
                        border: none;
                        font-size: 1.5rem;
                    }
                }
            }
            tbody{
                tr{
                    &:last-child{
                        td{
                            border-bottom: none;
                        }
                    }
                    &.months{
                        td{
                            font-size: 1.5rem;
                        }
                    }
                    td{
                        background-color: $blue;
                        color: $white;
                        text-align: center;
                        border-top: none;
                        border-color: $white;
                        border-bottom: 1px solid rgba($white, 0.5);
                    }
                }
            }
        }
        &__desktop{
            display: none;
            @include respond-to('small') {
                display: table;
            }
        }
        &__mobile{
            display: block;
            @include respond-to('small') {
                display: none;
            }
            &.person-ves__table--lafayetter{
                .person-ves__table__mobile--header{
                    background-color: #ff5f6b;
                    p{
                        font-size: 1.5rem;
                        color: #fff;
                    }
                }
                .person-ves__table__mobile--body{
                    > ul{
                        li{
                            border-bottom: 1px solid #fff;
                            a{
                                background-color: $blue;
                                color: $white;
                            }
                            
                        }
                    }
                }   
                .person-ves__table__mobile--content{
                    table{
                        thead{
                            th{
                                font-family: $font__titles;
                            }
                        }
                        td, th{
                            background-color: $blue;
                            border-color: $white;
                            text-align: center;
                            color: $white;
                        }
                        tbody{
                            tr{
                                &:last-child{
                                    td{
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                }      
            }
            &--header{
                padding: 1rem;
                &.person-ves__table--lafayetter{
                    background-color: #ff5f6b;
                    p{
                        font-size: 1.5rem;
                        color: #fff;
                    }
                }
            }
            &--body{
                > ul{
                    margin: 0;
                    padding: 0;
                    li{
                        display: block;
                        a{
                            padding: 1rem;
                            width: 100%;
                            position: relative;
                            display: block;
                            text-align: center;
                            background-color: #efefef;
                            &:hover{
                                color: inherit;
                            }
                            &.open{
                                &::after{
                                    transform: rotate(180deg);
                                }
                            }
                            &::after{
                                content: '\f0d7';
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                font-size: 1rem;
                                position: relative;
                                display: inline-block;
                                margin-left: 0.5rem;
                                @include transition(all 0.5s ease 0s);
                            }
                        }
                    }
                }
            }
            &--content{
                display: none;
                > ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 100%;   
                        p{
                            text-align: center;
                            color: $purple;    
                            font-family: $font__subtitles; 
                            padding: 0.5rem;
                        }
                        ul{
                            display: block;
                            li{
                                width: 100%;
                                border: none;
                                text-align: center;
                                margin: 0.25rem 0;
                            }
                        }
                    }
                }
            }
        }
    }
}