.teachers-only{
    &__content{
        width: 100%;
        margin: 0 auto 2rem;
        position: relative;
        @include respond-to('extra-small') {
            margin: 2rem auto;
        }
    }
    &__main{
        &--title{
            background: url(../images/maestros-only.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding: 0 1rem;
            @include respond-to('extra-small') {
                height: 300px;
                background-size: cover;
                padding: 0 3rem;
            }
            @include respond-to('small') {
                padding: 0 10rem;
                height: 500px;
                background-size: contain;
            }
            h2{
                font-size: 2.5rem;
                font-family: $font__titles;
                margin: 0 auto;
                
                position: relative;
                z-index: 2;
                display: block;
                text-align: center;
                @include respond-to('small') {
                    font-size: $h1-welcome-sm;
                    padding: $padding-mobile;
                }
                @include respond-to('medium') {
                    font-size: $h1-welcome;
                    padding: $padding-desktop;
                }
            }
            p{
                display: block;
                font-size: $subtext-font-size-es;
                text-align: center;
                line-height: 1.5;
                font-family: $font__subtitles;
                @include respond-to('extra-small') {
                    font-size: $subtext-font-size-sm;
                }
                @include respond-to('medium') {
                    font-size: $subtext-font-size;
                }
            }
        }
        &--content{
            width: 100%;
            padding: 1rem;
            margin: 0rem auto 0;
            position: relative;
            @include respond-to('mobile') {
                padding: 1.5rem;
                margin: 3rem auto 0;
            }
            @include respond-to('small') {
                padding: 2rem;
                margin: 4rem auto 0;
            }
            ul{
                position: relative;
                margin: 0;
                padding: 0;
                li{
                    margin: 2rem 0;
                    text-align: left;
                    position: relative;
                    padding-left: 1.5rem;
                    color: $gray;
                    font-size: $list-expectations-es;
                    @include respond-to('mobile') {
                        font-size: $list-expectations;
                        padding-left: 2rem;
                    }
                    &:nth-child(6n+1){
                        svg{
                            fill: $rose-dark;
                        }          
                    }
                    &:nth-child(6n+2){
                        svg{
                            fill: $purple;
                        }          
                    }
                    &:nth-child(6n+3){
                        svg{
                            fill: $green;
                        }
                    }
                    &:nth-child(6n+4){
                        svg{
                            fill: $yellow;
                        }       
                    }
                    &:nth-child(6n+5){
                        svg{
                            fill: $blue;
                        }       
                    }
                    &:nth-child(6n+6){
                        svg{
                            fill: $welcome-color-rose;
                        }        
                    }
                    svg{
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        top: 3px;
                        left: 0;
                        @include respond-to('mobile') {
                            width: 22px;
                            height: 22px;
                        }
                        &.bg-rose{
                            fill: $rose-dark;
                        }
                        &.bg-purple{
                            fill: $purple;
                        }
                        &.bg-green{
                            fill: $green;
                        }
                        &.bg-yellow{
                            fill: $yellow;
                        }
                        &.bg-blue{
                            fill: $blue;
                        }
                        &.bg-orange{
                            fill: $welcome-color-rose;
                        }
                    }
                }
            }
        }
        &--drives{
            margin-top: 2rem;
            position: relative;
            @include respond-to('small') {
                margin-top: 5rem;
            }
            &--item{
                width: 100%;
                background: url(../images/bg-gallery.jpg);
                background-size: contain;
                background-repeat: repeat;
                background-position: center;
                padding: 2rem 1rem;
                margin-bottom: 3rem;
                @include respond-to('small') {
                    padding: 2rem;
                }
                &:nth-child( 3n + 1 ){
                    h3{
                        color: $blue;
                    }
                    a.btn{
                        background-color: $blue;
                        border: 2px solid $blue;
                        color: $white;
                        &:hover{
                            background-color: #fff;
                            color: $blue;
                        }
                    }
                }
                &:nth-child( 3n + 2 ){
                    h3{
                        color: $purple;
                    }
                    a.btn{
                        background-color: $purple;
                        border: 2px solid $purple;
                        color: $white;
                        &:hover{
                            background-color: #fff;
                            color: $purple;
                        }
                    }
                }
                &:nth-child( 3n + 3 ){
                    h3{
                        color: $rose-dark;
                    }
                    a.btn{
                        background-color: $rose-dark;
                        border: 2px solid $rose-dark;
                        color: $white;
                        &:hover{
                            background-color: #fff;
                            color: $rose-dark;
                        }
                    }
                }
                h3{
                    display: table;
                    margin: 0 auto 2rem;
                    padding: 1rem;
                    background-color: #fff;
                    font-size: $h2-expectations-es;
                    text-align: center;
                @include respond-to('mobile') {
                    font-size: $h2-expectations-sm;
                }
                @include respond-to('medium') {
                    font-size: $h2-expectations;
                }
                }
            }
        }
    }
}