.store-ves{
    .camps-ves__container{
        background-size: contain;
        &::before{
            top: 55px;
        }
    }

    .wpsl-search{
        padding: 1rem;
        background-color: #ff5f6b;
        border-radius: 10px;
    }
    
    #wpsl-search-wrap{
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            > div{
                margin: 0.5rem 1rem;
                padding: 0;
                display: flex;
                align-items: center;
                @media screen and (max-width: 480px){
                    width: 100%;
                    margin: 0.5rem 0;
                }
                &.wpsl-input{
                    label{
                        @media screen and (max-width: 480px){
                            margin-right: 10px;
                        }
                    }
                    input{
                        @media screen and (max-width: 480px){
                            width: auto !important;
                        }
                    }
                }
                &.wpsl-select-wrap{
                    @media screen and (max-width: 480px){
                        flex-flow: column
                    }
                    .wpsl-dropdown{
                        @media screen and (max-width: 480px){
                            width: auto !important;
                        }
                    }
                }
                #wpsl-radius, #wpsl-results{
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 480px){
                        width: 100%;
                        margin: 10px 0;
                    }
                    ul{
                        li{
                            font-size: 1rem;
                            color: #000;
                        }
                    }
                }
                #wpsl-search-btn{
                        padding: 1rem;
                        text-align: center;
                        font-weight: 700;
                        font-family: "VAG Rounded",arial,sans-serif;
                        letter-spacing: 1px;
                        position: relative;
                        display: inline-block;
                        border-radius: 0;
                        border: 2px solid #a867ad;
                        background: #a867ad;
                        color: $white;
                        border-radius: 6px;
                        @include transition(all 0.5s ease 0s);
                        @media screen and (max-width: 480px){
                            margin: 0 auto;
                        }
                        &:hover{
                            background-color: #fff;
                            color: #a867ad;
                        }
                }
                label{
                    width: auto;
                    font-size: 1rem;
                    color: $white;
                }
            }
        }
    }
    
    #wpsl-gmap{
        height: 500px !important;
        border-radius: 30px;
        border: 5px solid#2db9ae;
    }
   #wpsl-result-list{
       #wpsl-stores{
           background: #68b8ad;
           border-radius: 30px;
           padding: 2rem;
           height: 500px !important;
           ul{
                width: 100%;
                height: 100%;
                background-image: url(../images/bg-about.png);
                background-position: top;
                background-size: cover;
                background-color: #fff;
               li{
                margin: 1rem 0;
                text-align: left;
                position: relative;
                padding-left: 1.5rem;
                color: $gray;
                font-size: $list-expectations-es;
                font-family: $font__main;
                @include respond-to('mobile') {
                    font-size: $list-expectations;
                    padding-left: 2rem;
                    margin: 2rem 0;
                }
               }
           }
       }
   } 

}