.online-resources{
    &__title{
        position: relative;
        width: 100%;
        height: auto;
        h1{
            width: 100%;
            padding: 2rem 1rem;
            background-color: #ffb903;
            color: $rose-dark;
            text-align: center;
            font-size: $h1-welcome-es;
            font-family: $font__titles;
            @include respond-to('mobile') {
                font-size: $h1-welcome-sm;
            }
            @include respond-to('small') {
                padding: 2rem 350px;
            }
            @include respond-to('medium') {
                font-size: $h1-welcome;
            }
        }
        img{   
            position: relative;
            width: 300px;
            height: auto;
            margin: 1rem auto;
            display: block;
            @include respond-to('small') {
                position: absolute;
                width: 350px;
                height: auto;
                left: 50px;
                top: 25%;
            }
        }
    }
    &__content{
        width: 100%;
        padding: 1rem;
        position: relative;
        background-image: url(../images/bg-articles.jpg);
        background-repeat: repeat;
        @include respond-to('small') {
            padding: 2rem;
        }
        h2{
            text-align: center;
            color: $rose-dark;
            font-family: $font__titles;
            margin: 1rem auto;
            padding: $padding-desktop;
            font-size: 2rem;
            @include respond-to('mobile') {
            font-size: $h1-welcome-sm - 1;
            margin: 2rem auto;
            }
            @include respond-to('medium') {
            font-size: $h1-welcome - 1;
            margin: 3rem auto;
            }
        }
        h3{
            font-size: $subtext-font-size-es - 0.5;
            text-align: left;
            line-height: 1.5;
            font-family: $font__subtitles;
            margin: 3rem 0 2rem;
            color: $purple;
            padding: 0.5rem;
            display: table;
            &:nth-child(3n + 1){
                background-color: $yellow;
                color: $purple;
            }
            &:nth-child(3n + 2){
                background-color: $green;
                color: $white;
            }
            &:nth-child(3n + 3){
                background-color: $purple;
                color: $yellow;
            }
            @include respond-to('extra-small') {
                font-size: $subtext-font-size-sm  - 0.5;
            }
            @include respond-to('medium') {
                font-size: $subtext-font-size  - 0.5;
            }
        }

        p{
            font-size: $text-font-size-es;
            text-align: left;
            line-height: 1.25;
            font-family: $font__main;
            margin: 0.5rem 0;
            color: #fff;
            font-size: 1.25rem;
            @include respond-to('small') {
                font-size: 1.5rem;
            }
            strong{
                color: $rose-dark;
            }
            a{
                color: #fff;
            }
        }
        iframe{
            width: 100%;
        }
        ul{
            margin: 0;
            padding: 0;
            &:nth-child(3n + 1){
                li{
                    &::before{
                        background-color: $purple;
                    }
                }
            }
            &:nth-child(3n + 2){
                li{
                    &::before{
                        background-color: $yellow;
                    }
                }
            }
            &:nth-child(3n + 3){
                li{
                    &::before{
                        background-color: $green;
                    }
                }
            }
            li{
                margin: 1rem 0;
                text-align: left;
                position: relative;
                padding-left: 1rem;
                font-size: 14px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: $gray;
                    border-radius: 50%;
                    top: 5px;
                    left: 0;
                    @include respond-to('small') {
                        width: 10px;
                        height: 10px;
                        top: 10px;
                    }
                }
                @include respond-to('mobile') {
                    font-size: $list-expectations;
                    padding-left: 1.2rem;
                    margin: 2rem 0;
                }
                a{
                    color: $gray;
                    font-family: $font__main;
                    @include transition(all 0.5s ease 0s);
                    &:hover{
                        color: $rose-dark;
                        text-decoration: underline;
                    }
                }
                
            }
        }
        ol{
            margin: 0;
            padding: 0;
            li{
                margin: 1rem 0;
                text-align: left;
                position: relative;
                padding-left: 1rem;
                font-size: 14px;
                font-family: $font__main;
                &:last-child{
                    padding-bottom: 2rem;
                    border-bottom: 2px solid $rose-dark;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: $gray;
                    border-radius: 50%;
                    top: 5px;
                    left: 0;
                    @include respond-to('small') {
                        width: 10px;
                        height: 10px;
                        top: 10px;
                    }
                }
                @include respond-to('mobile') {
                    font-size: $list-expectations;
                    padding-left: 1.2rem;
                    margin: 2rem 0;
                }
                a{
                    color: $gray;
                    @include transition(all 0.5s ease 0s);
                    &:hover{
                        color: $rose-dark;
                        text-decoration: underline;
                    }
                }
                
            }
        }
    }
    
}