.online-ves{
    &__intro{
        background-color: #ff5f6b;
        padding: 2rem;
        h1{
            font-size: $list-expectations-es + 0.2;
            text-align: center;
            margin: 0 0 0.5rem 0;
            @include respond-to('mobile') {
                font-size: $list-expectations + 0.2;
            }
        }
        p{
            font-size: $list-expectations-es;
            font-family: $font__main;
            @include respond-to('mobile') {
                font-size: $list-expectations;
            }
        }
    }
    &__types{
        width: 100%;
        position: relative;
        display: block;
        margin: 1rem 0 0;
        @include respond-to('small') {
            margin: 2rem 0 1rem;
        }
        @include respond-to('medium') {
            margin: 3rem 0 2rem;
        }
        &--wrapper{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            flex-wrap: wrap;
        }
        &--item{
            width: 50%;
            padding: 1rem;
            position: relative;
            @include respond-to('small') {
                font-size: 33.3333%;
                padding: 2rem;
            }
            @include respond-to('medium') {
                width: 20%;
            }
        }
        img{
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            z-index: 2;
        }
        &--image{
            position: relative;
            margin: 0 auto;
            max-width: 190px;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 75%;  
                bottom: -5px;
                right: -5px;
                border-radius: 10px;
                    @include respond-to('mobile') {
                        bottom: -10px;
                        right: -10px;
                        
                    }
                    @include respond-to('small') {
                        bottom: -20px;
                        right: -20px;
                        border-radius: 20px;
                    }
            }
            &.bg-yellow, &.classes{
                &::before{
                    background-color: $yellow;
                }
            }
            &.bg-rose-dark, &.camps{
                &::before{
                    background-color: $rose-dark;
                }
            }
            &.bg-blue, &.events{
                &::before{
                    background-color: $blue;
                }
            }
            &.bg-green, &.private-tutoring{
                &::before{
                    background-color: $green;
                }
            }
            &.bg-purple{
                &::before{
                    background-color: $purple;
                }
            }
            &.bg-orange{
                &::before{
                    background-color: $orange;
                }
            }
            
        }
        &--text{
            margin-top: 1rem;
            @include respond-to('small') {
                margin-top: 2rem;
            }
            @include respond-to('medium') {
                margin-top: 3rem;
            }
            h3{
                font-family: $font__subtitles;
                font-size: 1rem;
                @include respond-to('mobile') {
                    font-size: 1.2rem;
                }
                @include respond-to('small') {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &__cta{
        width: 100%;
        position: relative;
        display: block;
        margin-bottom: 0;
        padding: 1rem;
        @include respond-to('medium') {
            padding: 0 2rem;
        }
    }

}

.online-table-ves{
    &__search{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        display: none;
        @include respond-to('small') {
            display: flex;
        }
        select{
            padding: 1rem;
            background: rgba($purple, 0.5);
            border-radius: 6px;
            text-align: center;
            color: $white;
        }
    }
    &__desktop{
        display: none;
        @include respond-to('small') {
            display: table;
        }
    }
    &__mobile{
        display: block;
        @include respond-to('small') {
            display: none;
        }
    }
    &__header{
        padding: 2rem;
        background-image: url('../images/bg-gallery.jpg');
        background-size: cover;
        background-position: center;
        p{
            font-size: $h1-welcome-es;
            font-family: $font__titles;
            @include respond-to('mobile') {
            font-size: $h1-welcome-sm;
            }
            @include respond-to('medium') {
            font-size: $h1-welcome; 
            }
        }
    }
    &__body{
        > ul{
            margin: 0;
            padding: 0;
            li{
                display: block;
                &.table-color-yellow, &.table-color-prek{
                    a{
                        color: $yellow;
                    }
                }
                &.table-color-blue, &.table-color-elementary{
                    a{
                        color: $blue;
                    }
                }
                &.table-color-rose, &.table-color-middle{
                    a{
                        color: $rose-dark;
                    }
                }
                a{
                    padding: 1rem;
                    width: 100%;
                    position: relative;
                    display: block;
                    text-align: center;
                    background-color: #efefef;
                    border-color: #cdc2cc;
                    border-width: 2px;
                    border-style: solid;
                    &:hover{
                        color: inherit;
                    }
                    &.open{
                        &::after{
                            transform: rotate(180deg);
                        }
                    }
                    &::after{
                        content: '\f0d7';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 1rem;
                        position: relative;
                        display: inline-block;
                        @include transition(all 0.5s ease 0s);
                    }
                }
            }
        }
    }
    &__content{
        display: none;
        > ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 50%;   
                border-color: #cdc2cc;
                    border-width: 2px;
                    border-style: solid;
                    border-top: none;
                    @include respond-to('small') {
                        width: 25%;   
                    }
                    &.table-color-yellow, &.table-color-prek{
                        * li, * a{
                            color: $yellow;
                        }
                    }
                    &.table-color-blue{
                        * li, a{
                            color: $blue;
                        }
                    }
                p{
                    text-align: center;
                    color: $purple;    
                    border-bottom: 2px solid #cdc2cc;      
                    font-family: $font__subtitles; 
                    padding: 0.5rem;
                }
                ul{
                    display: block;
                    li{
                        width: 100%;
                        border: none;
                        text-align: center;
                        margin: 0.25rem 0;
                    }
                }
            }
        }
    }
    table{
        th, td{
            background-color: #efefef;
            font-family: $font__main;
            text-align: center;
            border-color: #cdc2cc;
        }
        thead{
            tr{
                th{
                    color: $purple;
                    text-transform: uppercase;
                    font-size: $list-expectations;
                    background-size: cover;
                }
            }
            
        }
    }
}


.table-ves-cta{
    &__content{
        width: 100%;
        background: url(../images/bg-register.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        @include respond-to('extra-small') {
            height: 300px;
        }
    }
}