.teachers-ves{
    &#our-teachers{
        overflow: hidden;
        .teachers-ves__carousel{
            margin-top: 50px;
        }
    }
    &__main{
        &--title{
            background: url('../images/bg-gallery.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond-to('extra-small') {
                height: 300px;
            }
            h2{
                font-size: $h1-welcome-es;
                font-family: $font__titles;
                margin: 1rem auto;
                padding: $padding-desktop;
                @include respond-to('mobile') {
                font-size: $h1-welcome-sm;
                margin: 2rem auto;
                }
                @include respond-to('medium') {
                font-size: $h1-welcome;
                margin: 3rem auto;
                }
            }
        }
        &--content{
            padding: 2rem 1rem;
            display: flex;
            flex-wrap: wrap;
            background-color: rgba($blue, 0.5);
            position: relative;
            @include respond-to('small') {
                padding: 3rem 1.5rem;
            }
            &::after{
                content: '';
                position: absolute;
                height: 50%;
                width: 120%;
                left: -10%;
                background-color: $blue;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &--image{
            position: relative;
            margin: 0 auto;
            max-width: 250px;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 75%;
                border-radius: 30px;      
            }
            &.bg-yellow{
                &::before{
                    background-color: $yellow;
                    top: -5px;
                    left: -5px;     
                    @include respond-to('mobile') {
                        top: -20px;
                        left: -20px;   
                    }
                    @include respond-to('small') {
                        top: -20px;
                        left: -20px;     
                    }       
                }
            }
            &.bg-rose-dark{
                &::before{
                    background-color: $rose-dark;
                    bottom: -5px;
                    right: -5px;
                    @include respond-to('mobile') {
                        bottom: -10px;
                    right: -10px;
                    }
                    @include respond-to('small') {
                        bottom: -20px;
                    right: -20px;
                    }
                }
            }
        }
        &--item{
            width: 50%;
            padding: 1rem;
            position: relative;
            display: block;
            // max-width: 300px;
            margin: 1rem auto;
            z-index: 2;
            @include respond-to('small') {
                width: 33.3333%;
                padding: 2rem;
            }
            @include respond-to('large') {
                width: 25%;
            }
            img{
                width: 100%;
                height: auto;
                display: block;
                border-radius: 30px;
                position: relative;
                z-index: 2;
            }
        }
        &--description{
            margin-top: 1rem;
            @include respond-to('small') {
                margin-top: 2rem;
            }
            p, h3{
                color: $white;
                font-family: $font__subtitles;
                font-size: 1rem;
                @include respond-to('mobile') {
                    font-size: 1.2rem;
                }
                @include respond-to('small') {
                    font-size: 1.5rem;
                }
            }
        }
    }
}