.programs-ves{
    h2{
        font-size: $h1-welcome-es;
        font-family: $font__titles;
        margin: 1rem auto;
        padding: $padding-desktop;
        @include respond-to('mobile') {
        font-size: $h1-welcome-sm;
        margin: 2rem auto;
        }
        @include respond-to('medium') {
        font-size: $h1-welcome;
        margin: 3rem auto;
        }
    }
    &__content{
        width: 100%;
        margin: 2rem auto;
        position: relative;
        &--image{
            max-width: 90%;
            margin: 0 auto;
            display: block;
            position: relative;
            z-index: 2;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 50%;
                background-color: #edb72c;
                top: 55%;
                z-index: 0;
                transform-origin: center;
                transform: scale(1.05);
            }
            img{
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                z-index: 2;
            }
        }
        &--list{
            margin: 0;
            position: relative;
            z-index: 1;
            padding: 3rem 1rem;
            @include respond-to('extra-small') {
                padding: 5rem 2rem;
            }
            @include respond-to('medium') {
                padding: 10rem 3rem;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: -69px;
                left: 0;
                width: 100%;
                height: 112px;
                background: url(../images/roto-bottom.png);
                background-position: center;
                background-repeat: no-repeat;
                z-index: 2;
                background-size: cover;
            }
            // ul{
            //     display: flex;
            //     justify-content: space-between;
            //     flex-wrap: wrap;
            //     &.purple-select{
            //         li{
            //             select{
            //                 background-color: rgba($purple, 1);
            //             }
            //         }
            //     }
            //     li{
            //         margin: 1rem;
            //         width: 100%;
            //         position: relative;
            //         @include respond-to('extra-small') {
            //             width: 40%;
                        
            //         }
            //         @include respond-to('small') {
            //             width: 20%;
            //             margin: 0 1rem;
            //         }
            //         &::after{
            //             font-family: "Font Awesome 5 Free";
            //             font-weight: 900;
            //             content: "\f0d7";
            //             font-size: 1rem;
            //             line-height: .7;
            //             color: #edb72c;
            //             opacity: 1;
            //             background-color: #68b8ad;
            //             border-radius: 3px;
            //             position: absolute;
            //             right: 1rem;
            //             top: 11px;
            //             padding: 0.5rem;
            //             pointer-events: none;
            //             @include respond-to('extra-small') {
            //                 right: 1rem;
            //                 top: 11px;
            //                 font-size: 2rem;
            //             }
            //         }
            //         select{
            //             padding: 0.5rem;
            //             text-align: center;
            //             border: none;
            //             border-radius: $border-radius;
            //             background-color: rgba($white, 0.25);
            //             color: $white;
            //             width: 100%;
            //             font-size: $list-select;
            //             letter-spacing: 1px;
            //             @include respond-to('extra-small') {
            //                 padding: 1rem;
            //             }
            //             option{
            //                 color: $black;
            //                 &:disabled{
            //                     color: $black-50;
            //                 }
            //             }
            //         }
            //     }
            // }

            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 0;
                position: relative;
                li{
                    padding: 0;
                    width: 100%;
                    position: relative;
                    margin: 0.5rem 0;
                    @include respond-to('extra-small') {
                        width: 50%;
                        margin: 1rem 0;
                        padding: 0 1rem;
                    }
                    @include respond-to('medium') {
                        width: 25%;
                        margin: 0;
                    }
                    .custom-select, a{
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        position: relative;
                        text-align: center;
                        max-width: 300px;
                        background: transparent;
                    }
                    .select-items{
                        div, a{
                            background-color: rgba($purple, 0.8);
                        }
                    }
                    .select-selected, a{
                        color: $white;
                        text-transform: uppercase;   
                        border-radius: $border-radius;
                        background-color: rgba($white, 0.25);
                        &::after{
                            background-color: $green;
                            color: $yellow;
                            padding: 0.1rem;
                            top: 6px;
                            right: 10px;
                        }
                    }
                    a{
                        padding: .65rem;
                        font-family: $font__main;
                    }
                }
            }

        }
    }
}