.resources-ves{
    &__content{
        width: 100%;
        margin: 2rem auto;
        position: relative;  
        background-color: $purple;
        overflow: hidden;
        .container-max-dk{
            @include respond-to('small') {
                transform: rotate(-15deg);
                margin-top: 10rem;
                margin-bottom: 7rem;
            }
            
        }
    }
    &__header{
        margin-top: 5rem;
        width: 100%;
        position: relative;
        padding: 2rem;
        background-image: url(../images/resources-header.png);
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        height: 50vw;
        background-position: bottom;
        background-repeat: no-repeat;
        @include respond-to('small') {
            height: 550px;
        }
        h2{
            font-size: 9vw;
            @include respond-to('small') {
                font-size: 5rem;
            }
        }
    }
    &__body{
        width: 100%;
        position: relative;
        padding: 0 2rem;
        background-image: url(../images/resources-body.png);
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-top: -12rem;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        @include respond-to('extra-small') {
            padding: 0 5rem;
            height: 560px;
        }
        @include respond-to('small') {
            height: 950px;
            margin-top: -20rem;
            padding: 0 11rem;
        }
    }
    &__separator{
        position: absolute;
        bottom: -31px;
        left: 0;
        width: 100%;
        height: 102px;
        background: url(../images/roto-bottom.png);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
        background-size: cover;
    }
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin: 0;
        padding: 0;
        li{
            margin: 0.25rem 0;
            @include respond-to('extra-small') {
                margin: 1rem 0;
            }
            @include respond-to('small') {
                margin: 2rem 0;
            }
            &:nth-child(3n+1){
                a{
                    color: #df5f6a;
                }
            }
            &:nth-child(3n+2){
                a{
                    color: #edb82c;
                }
                
            }
            &:nth-child(3n+3){
                a{
                    color: #5fa0c2;
                }
            }
            a{
                font-size: 7vw;
                text-align: center;
                @include respond-to('small') {
                    font-size: 3rem;
                }
            }
        }
    }

}