.ves{
  &-container{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    table-layout: fixed;
    padding: 2rem 0;
    &::before, &::after{
      content: '';
      width: calc(100% -  3rem);
      left: 1.5rem;
      height: 2rem;
      background: $white-soft;
      z-index: 2;
      position: absolute;
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
  }
  &-slider{
    width: 100%;
    height: auto;
    display: table;
    position: relative;
    table-layout: fixed;
    border-top: 4px solid $green;
    border-bottom: 4px solid $green;

  }
  &-item{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    > img{
      width: 100%;
      height: auto;
      display: block;
    }
    > video, > iframe{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background: $white;
    }
    > img.responsive-video{
      width: 100%;
      height: auto;
      display: block;
    }
    button.video-control{
      position: absolute;
      width: 45px;
      height: 45px;
      top: 0.5rem;
      right: 2rem;
      border: 3px solid $white;
      background: transparent;
      border-radius: 50%;
      box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
      cursor: pointer;
      z-index: 4;
      display: none;
      @include respond-to('small') {
        display: block;
        top: 1rem;
        right: 5rem;
      }
      &.unmuted{
        &::after{
          content: '\f028';
          font-size: 1.4rem;
        }
      }
      &::after{
        font-family: 'Font Awesome 5 Free';
        content: '\f026';
        font-weight: 900;
        font-size: 2rem;
        color: $white;
        z-index: 2;
        text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
      }
    }
    &__content{
      display: table;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin-top: auto;
      z-index: 2;
      &-centered{
        display: table-cell;
        vertical-align: bottom;
        .content-wrapper{
          padding: 20px 0 0;
          max-width: 900px;
          width: 85%;
          margin: 0 auto;
          p.text{
            text-align: center;
            font-size: $p-carousel-home-es;
            color: $purple;
            line-height: 20px;
            @include respond-to('small') {
              line-height: 40px;
              font-size: $p-carousel-home-sm;
            }
            @include respond-to('medium') {
              font-size: $p-carousel-home;
            }
            span{
              padding: 0.5rem;
              background: $yellow;
              color: $white;
              font-weight: $font-bold;
              display: table;
              line-height: 1;
              margin: 0 auto;
              @include respond-to('extra-small') {
                display: inline-block;
              }
            }
          }
          a{
            margin: 0.25rem auto;
            display: table;
            background: $green;
            color: $white;
            padding: 0.25rem;
            @include respond-to('extra-small') {
              margin: 1rem auto;
              padding: 0.5rem;
            }
          }
        }
      }
    }

  }
}