.teachers-ves{
    &__content{
        width: 100%;
        margin: 2rem auto;
        position: relative;  
    }
    &__inner{
        background-color: $teachers-home;
        position: relative;
        display: table;
        width: 100%;
        border-radius: 0 0 6px 6px;
        table-layout: fixed;
        h2{
            font-size: $h1-welcome-es;
            font-family: $font__titles;
            margin: 0 auto 1rem;
            padding: $padding-desktop;
            position: relative;
            z-index: 2;
            @include respond-to('mobile') {
            font-size: $h1-welcome-sm;
            margin: 0 auto 2rem;
            }
            @include respond-to('medium') {
            font-size: $h1-welcome;
            margin: 0 auto 3rem;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 230px;
                background-image: url('../images/our-teachers.jpg');
                background-position: top;
                background-size: cover;
                z-index: -1;
                @include respond-to('extra-small') {
                    height: 330px;
                }
                @include respond-to('small') {
                    height: 430px;
                }
            }
        }
    }
    &__carousel{
        margin-top: 100px;
        table-layout: fixed;
        display: block;
        @include respond-to('extra-small') {
            margin-top: 180px;
        }
        @include respond-to('small') {
            margin-top: 280px;
        }
        &--item{
            padding: 0 15px;
            position: relative;
            .teachers-ves__image{
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                position: relative;
                margin: 0 auto 0.5rem;
                border-radius: 50%;
                // border: 4px solid $green;
                background: 0 0;
                overflow: hidden;
                cursor: pointer;
                max-width: 320px;
                @include respond-to('extra-small') {
                    margin: 0 auto 1rem;
                }
                @include respond-to('small') {
                    margin: 0 auto 2rem;
                }
                &:hover{
                    &::after{
                        opacity: 0;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: transparent;
                    border: 4px solid $green;
                    z-index: 3;
                    top: 0;
                    left: 0;
                    @include respond-to('small') {
                        border: 8px solid $green;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: rgba($green, 0.5);
                    z-index: 2;
                    top: 0;
                    left: 0;
                    @include transition(all 0.5s ease 0s);
                }
                &--bg{
                    background-image: url('../images/teacher1.jpg');
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    padding-top: 105%;
                    z-index: 2;
                    display: flex;
                    position: relative;
                }
            }
            .teachers-ves__description{
                padding: 0 0.5rem;
                font-size: 1.2rem;
                &--country{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-top: 10px;
                    img{
                        max-width: 40px;
                        width: 100%;
                        height: 28px;
                        display: block;
                        margin-right: 1rem;
                        flex-shrink: 0;
                    }
                }
                @include respond-to('small') {
                    font-size: 1.5rem;
                    padding: 0 1rem;
                }
            }
        }
    }
    &__text{
        max-width: 90%;
        width: 100%;
        position: relative;
        margin: 8em auto 4rem;
        padding: $padding-desktop;
        background-color: $white;
        p{
            font-size: $text-font-size-es;
            text-align: left;
            line-height: 1.75;
            @include respond-to('extra-small') {
                font-size: $text-font-size-sm;
            }
            @include respond-to('medium') {
                font-size: $text-font-size;
            }
        }
    }
    &__cta{
        p{
            font-size: $text-font-size-es;
            text-align: center;
            line-height: 1.75;
            margin-bottom: 1rem;
            @include respond-to('extra-small') {
                font-size: $text-font-size-sm;
            }
            @include respond-to('medium') {
                font-size: $text-font-size;
            }
        }
        margin-top: 5rem;;
    }
}