$subtext-font-size: 32px;
$subtext-font-size-sm: 26px;
$subtext-font-size-es: 20px;
$text-font-size: 22px;
$text-font-size-sm: 16px;
$text-font-size-es: 14px;

.background-welcome{
  padding: 0.5rem;
}

.welcome-ves{
  h1{
    font-size: $h1-welcome-es;
    font-family: $font__titles;
    margin: 1rem auto;
    padding: $padding-desktop;
    @include respond-to('mobile') {
      font-size: $h1-welcome-sm;
      margin: 2rem auto;
    }
    @include respond-to('medium') {
      font-size: $h1-welcome;
      margin: 3rem auto;
    }
  }
  &__content{
    width: 100%;
    background: url('../images/welcome-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 2rem 2rem;
    margin: 2rem auto 0;
    @include respond-to('mobile') {
      margin: 3rem auto 0;
    }
    @include respond-to('medium') {
      margin: 4rem auto 0;
    }
    @media screen and (min-width: 1120px){
      padding: 0 7rem 2rem;
    }
    &-image{
      max-width: 180px;
      position: relative;
      margin: 0 auto;
      z-index: 2;
      @include respond-to('mobile') {
        max-width: 200px;
        float: right;
        margin: 2rem 0 2rem 2rem;
      }
      @include respond-to('medium') {
        max-width: 300px;
      }
      @media screen and (min-width: 1120px){
        max-width: 400px;
      }
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $facebook-rrss;
        transform-origin: center;
        transform: rotate(5deg) scale(1);
        z-index: -1;
      }
      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }
    h2{
      display: table;
      position: relative;
      padding: 1rem;
      color: #fff;
      font-weight: bold;
      font-size: 2rem;
      z-index: 2;
      margin-bottom: 2rem;
      margin-top: -10px;
      font-family: $font__subtitles;
      @include respond-to('mobile') {
        font-size: 3rem;
        margin-bottom: 4rem;
      }
      @include respond-to('medium') {
        font-size: 4rem;
      }
      &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        top: 10%;
        left: 10%;
        background: $welcome-color-rose;
        z-index: -2;
      }
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        background: $yellow;
        z-index: -1;
        top: 0;
        left: 0;
      }
    }
    p{
      color: $white;
      margin: 0.75rem 0;
      &.subtext{
        font-size: $subtext-font-size-es;
        text-align: left;
        line-height: 1.5;
        font-family: $font__subtitles;
        @include respond-to('extra-small') {
          font-size: $subtext-font-size-sm;
        }
        @include respond-to('medium') {
          font-size: $subtext-font-size;
        }
      }
      &.text{
        font-size: $text-font-size-es;
        text-align: left;
        line-height: 1.75;
        font-family: $font__main;
        @include respond-to('extra-small') {
          font-size: $text-font-size-sm;
        }
        @include respond-to('medium') {
          font-size: $text-font-size;
        }
      }
    }
    a{
      color: $white;
      top: 70px;
    }
  }
}
