/*---------------------------------
		Colors Variables
-----------------------------------*/

$black: #000;
$black-900: #3d3d3d;
$black-860: #595858;
$black-850: #323232;
$black-800: #414042;
$black-600: #3d3e40;
$black-700: #595959;
$black-100: #282828;
$black-50: #5d5d5d;

$white: #fff;
$white-soft: #efefef;

$dark-gray-200: #333;
$dark-gray-100: #424242;

$gray: #858585;

$green: #68b8ad;
$green-dark: #2db9ae;

$yellow: #edb72c;

$purple: #a867ad;

$rose: #e0606b;

$rose-dark: #dc417a;

$blue: #5ba1c5;

$orange: #e79832;

$footer-color: #c84f60;

$facebook-rrss: #a868ac;
$instagram-rrss: #edb82c;
$yelp-rrss: #68b8ad;
$youtube-rrss: #5fa1c2;

$hamburguer-menu: #01b9ae;

$welcome-color-rose: #df5f6a;
$inperson: #a868ad;
$online: #68b7ac;

$teachers-home: #ffd770;

$pre-kinder: #ffb800;
$elementary-school: #23a2c5;
$middle-school: #fe3f7e;
$events: #ff5f6b;
$camps: #bc67b0;
$private-tutoring: #01b9ae;
$parent-me: #f68b00;



/*---------------------------------
		Opacity
-----------------------------------*/

$opacity-black-075: rgba(0, 0, 0, 0.075);
$opacity-black-050: rgba(0, 0, 0, 0.050);
$opacity-black-015: rgba(0, 0, 0, 0.15);
