// Site variables.

// Default Border Radius
$border-radius: 3px;

// mq breakpoints.
$breakpoints: (
	'mobile-max':  ( max-width:  420px ),
	'mobile':  ( min-width:  420px ),
	'extra-small':  ( min-width:  576px ),
	'extra-small-max':  ( max-width:  576px ),
  'small':  ( min-width:  767px ),
	'small-max':  ( max-width:  767px ),
  'medium': ( min-width:  992px ),
	'medium-max': ( max-width:  992px ),
  'large':  ( min-width: 1200px ),
	'large-max':  ( max-width: 1200px )
) !default;

$site_width: 1140px;
$wide_width: 1240px;
$padding-desktop: 1.5rem;
$padding-mobile: 1rem 0;
$padding-left-desktop: 2rem;
$padding-right-desktop: 2rem;

$margin-top: 60px;
$margin-bottom: 60px;
