
/*----------------
		Font
------------------*/

// Global theme font.
$font__main: 'Museo 500', arial, sans-serif;
$font__titles: 'VAG Rounded', arial, sans-serif;
$font__subtitles: 'Museo 700', arial, sans-serif;
$font__proxima: 'Proxima Nova', arial, sans-serif;
$font-black: 900;
$font-extrabold: 800;
$font-bold: 700;
$font-regular: 300;
$font-thin: 100;

$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 24px;

$h3-footer: 24px;
$h3-footer-sm: 20px;
$h3-footer-mb: 16px;

$p-footer: 16px;
$p-footer-sm: 14px;
$p-footer-mb: 14px;

$p-carousel-home: 24px;
$p-carousel-home-sm: 18px;
$p-carousel-home-es: 13px;

$h1-welcome: 5rem;
$h1-welcome-sm: 4rem;
$h1-welcome-es: 3rem;

$h2-expectations: 4rem;
$h2-expectations-sm: 3rem;
$h2-expectations-es: 2rem;

$list-expectations: 1.5rem;
$list-expectations-es: 1.2rem;

$list-select: 1.5rem;

h1, h2, h3, h4, h5, h6, a, button{
	font-family: $font__titles;
}

p, li{
	font-family: $font__main;
}

b, strong{
	font-family: $font__subtitles;
}

/*---------------------------------
		Body Text Font Sizes
-----------------------------------*/

$body-text: (
	"h1": (
		"small": (
			font-size: 31.5px,
			line-height: 1.27,
		),
	),
	"h2": (
		"small": (
			font-size: 31.5px,
			line-height: 1.27,
		),
	),
	"h3": (
		"small": (
			font-size: 24.5px,
			line-height: 1.64,
		),
	),
	"h4": (
		"small": (
			font-size: 17.5px,
			line-height: 1.142,
		),
	),
	"h5": (
		"small": (
			font-size: 14px,
			line-height: 1.43,
		),
	),
	"h6": (
		"small": (
			font-size: 11.9px,
			line-height: 1.681,
		),
	),
	"body": (
		"small": (
			font-size: 16px,
			line-height: 1.43,
		),
		"large": (
			font-size: 18px,
			line-height: 1.43,
		),
	),
	"l": (
		"small": (
			font-size: 18px,
		),
	),
	"m": (
		"small": (
			font-size: 16px,
		),
	),
	"s": (
		"small": (
			font-size: 12px,
		),
	),
	"xs": (
		"small": (
			font-size: 11px,
		),
	),
);
