/*---------------------------
		Buttons
---------------------------*/

.btn{
  padding: 1rem;
  text-align: center;
  font-weight: $font-bold;
  font-family: $font__titles;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  border-radius: 0;
  &:hover{
    color: $white;
  }
  &.bg{
    &-green{
      background-color: $green;
      color: #fff;
    }
    &-purple{
      background-color: $purple;
      color: #fff;
    }
  }
  &.small{
    font-size: 12px;
    padding: 0.25rem;
  }
  &.medium{
    font-size: 14px;
    padding: 0.5rem 1rem;
  }
  &.bordered{
    border-radius: 6px;
  }
  &.centered{
    margin: 0 auto;
    display: table;
  }
  &.full{
    width: 100%;
  }
  &.large{
    padding: 1rem 2rem;
    @include respond-to('medium') {
      padding: 1rem 4rem;
    }
  }
}

.background-hover{
	&-rose-dark{
		&:hover{
			@include respond-to('medium') {
				background-color: $white;
				color: $welcome-color-rose
			}	
		}	
  }
  &-purple{
		&:hover{
			@include respond-to('medium') {
				background-color: $white;
				color: $purple
			}	
		}	
  }
  &-purple-line{
    border: 2px solid $purple;
		&:hover{
			@include respond-to('medium') {
				background-color: $white;
				color: $purple
			}	
		}	
  }
  &-green--line{
    border: 2px solid $green;
    &:hover{
			@include respond-to('medium') {
        background-color: $white;
        border: 2px solid $green;
				color: $green
      }
    }
  }
}
