/*---------------------------
		Accessiblity
---------------------------*/

.container-max-dk{
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
}

.background-text{
	padding: 1rem;
	background: $white;
	display: table;
}

.background{
	&-green{
		background-color: $green;
	}
	&-green-dark{
		background-color: $green-dark;
	}
	&-purple{
		background-color: $purple;
	}
	&-rose-dark{
		background-color: $welcome-color-rose;
	}
	&-person{
		background-color: $inperson;
	}
	&-online{
		background-color: $online;
	}
}

.text-centered{
	margin: 0 auto;
}


/*---------------------------
		Alignments
---------------------------*/

.left {
	float: left;
}

.right {
	float: right;
}

.text {
	&-left {
		text-align: left;
	}

	&-right {
		text-align: right;
	}

	&-center {
		text-align: center;
	}

	&-justify {
		text-align: justify;
	}
}

/*---------------------------
		Others
---------------------------*/

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

/*---------------------------
		Colors
---------------------------*/


.color{
	&-purple{
		color: #a868ad;
	}
	&-rose{
		color: #df5f6a;
	}
	&-yellow{
		color: #ecb52e;
	}
	&-green{
		color: #68b8ad;
	}
	&-orange{
		color: #e89933;
	}
	&-blue{
		color: #5ba1c5;
	}
	&-rose-dark{
		color: #dc417b;
	}
	&-gray{
		color: #858585;
	}
	&-white{
		color: #ffffff;
	}
	&-black{
		color: #000000;
	}
	&-blue{
		color: $blue;
	}
}
