$modal-title: 1.8rem;
$modal-title-sm: 1.5rem;
$modal-title-es: 1.3rem;

$modal-text-es: 1rem;
$modal-text: 1.3rem;

.modal {
    text-align: center;
    &-close{
        background: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        i{
            color: $white;
            font-size: 1.5rem;
        }
    }
    &-bg{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(#000, 0.5);
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &.modal-teachers{
        .modal-header{
            border: none;
            text-align: center;
            background-color: $purple;
            display: block;
            h5{
                font-size: $modal-title-es;
                @include respond-to('mobile') {
                font-size: $modal-title-sm;
                }
                @include respond-to('medium') {
                font-size: $modal-title;
                }
            }
        }
        .modal-body{
            padding: 2rem;
            background-color: $green;
            max-height: 80vh;
            overflow: scroll;
            p{
                color: $white;
                font-size: $modal-text-es;
                margin: 0.5rem 0;
                @include respond-to('medium') {
                font-size: $modal-text;
                }
            }
        }
        .modal-dialog{
            width: 90%;
            max-width: 700px;
            z-index: 2;
            @include respond-to('medium') {
                width: 100%;
            }
        }
    }
  }
  
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }