    /* The container must be positioned relative: */
    
    .custom-select {
        position: relative;
        font-family: $font__main;
        padding: 0;
        border: none;
        border-radius: 0;
        height: auto;
        select{
            display: none;
        }
        .select-selected {
            padding: 0.5rem;
            background-color: DodgerBlue;
            &:after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f0d7";
                font-size: 1rem;
                line-height: .7;
                opacity: 1;
                border-radius: 3px;
                position: absolute;
                right: 0;
                top: 0;
                padding: .5rem;
                pointer-events: none;
                border: 6px solid transparent;
              }
              &.select-arrow-active{
                  &::after{
                    transform: rotate(180deg);
                  }
              }
          }
          .select-items{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
              div, .select-selected, a{
                color: #ffffff;
                padding: 8px 16px;
                border: 1px solid transparent;
                border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
                cursor: pointer;
              }
              div, a{
                  &:hover, .same-as-selected{
                    @include respond-to('small') {
                      background-color: rgba(0, 0, 0, 0.1);
                    }
                    
                  }
              }
              &.select-hide {
                display: none;
              }
          }
          
      }