table{
    border-collapse: collapse;
border-spacing: 0;
table-layout: fixed;
width: 100%;
td{
    border-color: $gray;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    vertical-align: middle;
    img{
        width: 100%;
        object-fit: cover;
    }
}
    th{
        border-color: $gray;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
        vertical-align: middle;
    }

}


.table-color{
	&-yellow, &-prek{
        color: $yellow;
        td{
            &:first-child{
                background-color: $yellow;
            }
        }
        td, th{
            color: $yellow;
        }
    }
    &-blue, &-elementary{
        color: $blue;
        td{
            &:first-child{
                background-color: $blue;
            }
        }
        td, th{
            color: $blue;
        }
    }
    &-rose, &-middle{
        color: $rose-dark;
        td{
            &:first-child{
                background-color: $rose-dark;
            }
        }
        td, th{
            color: $rose-dark;
        }
	}
}